/.vscode
/10_Classes.ipynb
/11_Built-Ins.ipynb
/12_Python_Functionals.ipynb
/13_Regex_and_Parsing.ipynb
/14_XML.ipynb
/15_Closures_and_Decorators.ipynb
/16_Numpy.ipynb
/17_Debugging.ipynb
/3_Strings.ipynb
/4_Sets.ipynb
/5_Math.ipynb
/6_Itertools.ipynb
/7_Collections.ipynb
/8_Date_and_Time.ipynb
/9_Errors_and_Exceptions.ipynb